<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View list', sentences_path %></li>
  <li class="active"><%= link_to 'New sentence', new_sentence_path %></li>
</ul>
<br><br>
<%= render 'form' %>

<%= link_to 'Back', sentences_path %>
